{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block body %}
    <form action="{% url 'new_battle' %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Создать батл" class="btn btn-danger"/>
    </form>
    <div class="invites">
    {% if invited_games %}
        <ul>
            {% for invite in invited_games %}
                <li>
                    {{ invite.enemy }}
                    <form action="{% url 'play_game' invite.game.id %}" method="get">
                        {% csrf_token %}
                        <input type="submit" value="Играть" class="btn btn-danger"/>
                    </form>
                </li>
            {% endfor %}
         </ul>
    {% else %}
        <p>нет приглашенных батлов</p>
    {% endif %}
    </div>
    <div class="battles">
        {% if battles %}
            <ul>
                {% for battle in battles %}
                    <li>Me {{ battle.my_score }} vs {{ battle.enemy }} {{ battle.enemy_score }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>нет батлов</p>
        {% endif %}
    </div>

{% endblock %}