{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="main-block create-quiz">
{#        <h2>{{ quiz.name }}</h2>#}
        <form action="{% url 'quiz_round_create' quiz.id %}" method="post">
            {% csrf_token %}
            <label for="number">Номер раунда</label>
            <input type="number" name="number" id="number" />
            <label for="name">Название</label>
            <input type="text" name="name" id="name" />
            <label for="description">Описание</label>
            <input type="text" name="description" id="description" />
            <input type="submit" value="Добавить" class="submit-quiz"/>
        </form>
    </div>
{% endblock %}