{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="topIndex">
    </div>
    <div class="indexMain">
        <div class="indexLogo">
            <img src="{% static 'img/logo.svg' %}" alt="musical-notes"/>
        </div>
        <div class="indexNameProject">
            <h3>Game Of Notes</h3>
        </div>
        <div class="indexProjectDescription">
            <p>take your musical throne</p>
        </div>
        <div class="indexAbout">
            <p>
                Добро пожаловать в Game of Notes, где вы сможете занять свой музыкальный трон!<br>
                Погрузитесь в мир, где царит музыка, и бросьте вызов себе, чтобы раскрыть секреты мелодии и ритма.<br>
                Вступай в наше сообщество страстных любителей музыки и прояви свои знания.<br>
                Готовы ли вы взойти на свое законное место на музыкальном троне?<br>
                Присоединяйтесь к Game of Notes и начните свое путешествие сегодня!
            </p>
        </div>
    </div>
    <div class="indexQuizzes">
        {% if quizzes %}
            <ul>
                {% for quiz in quizzes|dictsort:'name' %}
                    <div class="indexQuiz">
                        <li><a href="{% url 'quiz_details' quiz.id %}">{{ quiz.name }}</a></li>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes specified</p>>
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if page_object.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_object.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                </span>

                {% if page_object.has_next %}
                    <a href="?page={{ page_object.next_page_number }}">next</a>
                    <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}
