{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <a href="{% url 'genres' %}">Жанры</a>
    <div>
        <p>
            Добро пожаловать в Game of Notes, где вы сможете занять свой музыкальный трон!<br>
            Погрузитесь в мир, где царит музыка, и бросьте вызов себе, чтобы раскрыть секреты мелодии и ритма.<br>
            Вступай в наше сообщество страстных любителей музыки и прояви свои знания.<br>
            Готовы ли вы взойти на свое законное место на музыкальном троне?<br>
            Присоединяйтесь к Game of Notes и начните свое путешествие сегодня!
        </p>
    </div>
    <div>
        <h3>Правила:</h3>
        <ol>
            <li>Каждый квиз может содержать 1 - 5 раундов. Каждый тур может содержать свою специфику и(или) тематику.</li>
            <li>Каждый раунд содержит 10 вопросов.</li>
            <li>На каждый ответ даётся 40 секунд.</li>
            <li>За использование шазама - минус в карму! Давайте играть честно.</li>
        </ol>
    </div>
    <div>
        {% if quizzes %}
            <ul>
                {% for quiz in quizzes|dictsort:'name' %}
                    <li><a href="{% url 'quiz_details' quiz.id %}">{{ quiz.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No quizzes specified</p>>
        {% endif %}
    </div>
{% endblock %}
