{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <h1>{{ quiz.name }}</h1>
    <h2>Вопрос: {{ question.number }} - {{ question.text }}</h2>
    <form action="{% url 'question' game.id round.id question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <div style="display: flex; flex-direction: column;">
            {% for answer in answers %}
                <span>
                    <input type="radio" id="answer-{{ answer.id }}" name="answer" value="{{ answer.id }}" />
                    <label for="answer-{{ answer.id }}">{{ answer.answer }}</label>
                </span>
            {% endfor %}
            </div>
        </fieldset>
        <input type="submit" value="Ответить" class="btn btn-danger"/>
    </form>
{% endblock %}