{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="main-block">
        <h1>{{ quiz.name }}</h1>
        <form action="{% url 'question_create' quiz.id round.id %}" method="post">
            {% csrf_token %}
            <label for="number">Номер вопроса</label>
            <input type="number" name="number" id="number" min="1"/>
            <br/>
            <label for="text">Текст вопроса</label>
            <textarea id="text" name="text"></textarea>
            <br/>
            <div class="attachments">
                <label for="attachment_type">Тип файла</label>
                <select name="attachment_type" id="attachment_type" required>
                    <option value="">No file</option>
                    {% for type in attachment_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <label for="file">Файл</label>
                <input type="file" name="file" id="file" />
            </div>
            <br/>
            <label for="answers">Варианты ответа</label>
            <textarea id="answers" name="answers"></textarea>
            <br/>
            <input type="submit" value="Добавить" class="btn btn-danger"/>
        </form>
    </div>
{% endblock %}