{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <h1>{{ quiz.name }}</h1>
    <p>{{ quiz.description }}</p>
    <h3>Жанры:</h3>
    {% if quiz.genres %}
        <ul>
        {% for genre in genres %}
            <li>{{ genre }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No genres specified</p>>
    {% endif %}
    <div class="rounds">
    {% for round in rounds %}
        <div class="round">
            <h2>Round {{ round.name }}</h2>
            <p>{{ round.description }}</p>
            <div class="questions">
                {% for question in round.questions.all %}
                    <div class="question">
                        <p>{{ question.text }}</p>
                        <form action="{% url 'question_delete' quiz.id round.id question.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Удалить вопрос" class="btn btn-danger"/>
                        </form>
                    </div>
                {% endfor %}
                <form action="{% url 'question_create' quiz.id round.id %}" method="get">
                    {% csrf_token %}
                    <input type="submit" value="Добавить вопрос" class="btn btn-danger"/>
                </form>
            </div>
            <form action="{% url 'quiz_round_delete' quiz.id round.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Удалить раунд" class="btn btn-danger"/>
            </form>
        </div>
    {% endfor %}
    <form action="{% url 'quiz_round_create' quiz.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Добавить раунд" class="btn btn-danger"/>
    </form>
    </div>

    <form action="{% url 'quiz_edit' quiz.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Отправить на подтверждение" class="btn btn-danger"/>
    </form>
{% endblock %}
