{% extends 'quiz/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <h1>{{ quiz.name }}</h1>
    <p>{{ quiz.description }}</p>
    {% if quiz.genres %}
        <ul>
        {% for genre in genres %}
            <li>{{ genre }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No genres specified</p>>
    {% endif %}
    <h2>Количество раундов: {{ rounds_count }}</h2>
    <form action="{% url 'new_game' quiz.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Начать" class="btn btn-danger"/>
    </form>
{% endblock %}