{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="top-rating">
    </div>
    <div class="index-main">
        <div class="index-logo">
            <img src="{% static 'img/free-sticker-award-7796707.png' %}" alt="award"/>
        </div>
    </div>
    <div class="main-block">
        <div class="text-align">
            <h2><a href="{% url 'quiz_details' quiz.id %}">{{ quiz.name }}</a></h2>
        </div>
        <div class="leader-board-layout">
            <div class="rule-description__content">
                <div class="rule-description__textblock">
                    При одинаковом количестве очков выиграл тот, кто ответил быстрее
                </div>
                <div class="ruleDescription__CloseBlock">
                    <a class="icon-close" data-description-close="true"></a>
                </div>
            </div>
            <div class="rating-table">
                <table>
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Пользователь</th>
                        <th>Результат</th>
                        <th>Время</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ game.user.username }}</td>
                            <td>{{ game.score }}</td>
                            <td>{{ game.get_game_time }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {#        <ol>#}
                {#            {% for game in games %}#}
                {#                <li>{{ game.user.username }} - {{ game.score }} - {{ game.get_game_time }}</li>#}
                {#            {% endfor %}#}
                {#        </ol>#}
            </div>
        </div>
    </div>
{% endblock %}

