{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="rules">
        <h3>Правила:</h3>
        <div class="rulesItem">
            <ol>
                <li>Каждый квиз может содержать 1 - 5 раундов. Каждый тур может содержать свою специфику и(или) тематику.</li>
                <li>Каждый раунд содержит 10 вопросов.</li>
                <li>На каждый ответ даётся 40 секунд.</li>
                <li>За использование шазама - минус в карму! Давайте играть честно.</li>
            </ol>
        </div>
    </div>
{% endblock %}
