.topMenu {
    top: 0;
    right: 0;
    padding: 0 32px;
    background-color: #3a28a7;
    height: 64px;
    display: flex;
    align-items: center;
}

.topMenu a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 14px;

}

.menu-auth{
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    justify-content: center;
}
.menu-auth a{
    margin-left: 10px;
}

.menu-auth a:hover{
    color: #7770ff;
}

.menu-auth .topMenuItem{
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 34px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    font-size: 14px;
}

.menu-auth .topMenuItem:hover{
    background: #7770ff;
    padding: 10px 40px;
    border: 1px solid #7770ff;
}

.menu-link{
    gap: 40px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-link a {
    color: #C0B6FA;
}

.menu-link a img {
    position: relative;
    top: 5px;
}

.menu-link a:hover{
    color: #fff;
}

body {
  font-family: Montserrat,"Open Sans",Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.42857;
  color: #2d2442;
  margin: 0;
}

.topIndex{
    background-image: url("img/cb9b0bc7-1925-4d85-b11a-7edaacfd50ee.jpg");
    height: 0;
    position: relative;
    overflow: hidden;
    padding-top: 278px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.indexMain{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1223px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    margin-top: -100px;
    text-align: center;
    padding-bottom: 32px;
    flex-direction: column;

}

.indexLogo{
    width: 184px;
    height: 184px;
    border: 8px solid #FFFFFF;
    display: flex;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
    background: linear-gradient(160.13deg, #7863F8 3.68%, #6049EB 86.73%);
    border-radius: 50%;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

.indexLogo img{
    width: 100%;
    height: 100%;
}

.indexNameProject{
    margin-top: -20px;
    box-sizing: border-box;
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.indexProjectDescription{
    color: #878D9A;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: -50px;
}

.indexAbout{
    width: 100%;
    color: #333333;
    max-width: 870px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.indexQuizzes{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.indexQuizzes ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indexQuiz{
    width: 30%;
    padding: 0 12px;
    display: flex;
    justify-content: center;
}

.rules h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.rulesItem{
    display: flex;
    justify-content: center;
}

.genres{
    width: 100%;
    max-width: 870px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.genreItems{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genreName{
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
    text-align: center;
}

.genreName h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.genreQuizzes ul{
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}