.topMenu {
    top: 0;
    right: 0;
    padding: 0 32px;
    background-color: #3a28a7;
    height: 64px;
    display: flex;
    align-items: center;
}

.topMenu a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 14px;

}
.topMenu a:hover{
    color: #e3ff7c;
}

.menu-auth{
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    border: none;
    justify-content: center;
}
.menu-auth a{
    margin-left: 10px;
}

.menu-auth a:hover{
    color: #7770ff;
}

.menu-auth .topMenuItem{
    padding: 10px 40px;
    border: 1px solid #fff;
    border-radius: 34px;
    margin-left: 10px;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    font-size: 14px;
}

.menu-auth .topMenuItem:hover{
    background: #7770ff;
    padding: 10px 40px;
    border: 1px solid #7770ff;
}

.menu-link{
    gap: 40px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-link a {
    color: #C0B6FA;
}

.menu-link a img {
    position: relative;
    top: 5px;
}

.menu-link a:hover{
    color: #fff;
}

body {
  font-family: Montserrat,"Open Sans",Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.42857;
  color: #2d2442;
  margin: 0;
}

table {
    border: 1px solid #eee;
}

.main-block {
    margin: 20px;
}

.border{
    border: 1px solid #7770ff;
}

.quiz-edit{
    width: 640px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
}

.create-quiz,
.create-question {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
}

.form-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-quiz form,
.create-question form {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.create-question form > label {
    margin-top: 10px;
}

.attachments {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.attachments > div {
    width: 50%;
    display: flex;
}

.attachments > div > label {
    width: inherit;
}

.attachments .file {
    justify-content: space-between;
}

.quiz-details p:has(input),
.quiz-details p:has(select) {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.quiz-details p:has(textarea) {
    width: 100%;
}

.quiz-details p > textarea {
    width: 100%;
}

.quiz-details p > input[type=text],
.quiz-details p > select {
    width: 100%;
    margin-left: 10px;
}

.rounds {
    display: flex;
    flex-direction: column;
}

.actions {
    align-self: center;
}

.action-end{
    align-self: flex-end;
}

.submit-form {
    display: flex;
    flex-direction: column;
}

.submit-edit-quiz{
    font-size: 12px;
    margin: 5px;
    padding: 5px;
    width: 130px;
    align-self: center;
    color: #7770ff;
    background-color: transparent;
    border: 1px solid #7770ff;
    font-weight: bold;
}

.submit-quiz {
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    width: 250px;
    align-self: center;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #7770ff;
}

.submit-quiz:hover{
    background-color: #3a28a7;
}

.round {
    border: 1px solid #bebebe;
    padding: 10px;
    margin: 5px;
}

.round-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topIndex{
    background-image: url("img/cb9b0bc7-1925-4d85-b11a-7edaacfd50ee.jpg");
    height: 0;
    position: relative;
    overflow: hidden;
    padding-top: 278px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.indexMain{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1223px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    margin-top: -100px;
    text-align: center;
    padding-bottom: 32px;
    flex-direction: column;

}

.indexLogo{
    width: 184px;
    height: 184px;
    border: 8px solid #FFFFFF;
    display: flex;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
    background: linear-gradient(160.13deg, #7863F8 3.68%, #6049EB 86.73%);
    border-radius: 50%;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

.indexLogo img{
    width: 100%;
    height: 100%;
}

.indexNameProject{
    margin-top: -20px;
    box-sizing: border-box;
    color: #333333;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.indexProjectDescription{
    color: #878D9A;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    margin-top: -50px;
}

.indexAbout{
    width: 100%;
    color: #333333;
    max-width: 870px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.indexQuizzes{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.indexQuizzes ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.indexQuizzes a{
    color: #3a28a7;
    text-decoration: none;
}

.indexQuizzes a:hover{
    color: #7770ff;
}

.indexQuiz{
    width: 30%;
    padding: 0 12px;
    display: flex;
    justify-content: center;
}

.rules h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.rulesItem{
    display: flex;
    justify-content: center;
}

.genres{
    width: 100%;
    max-width: 870px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.genreItems{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genreName{
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
    text-align: center;
}
.genreNameIcon{
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
}

.genreNameIcon h3 img {
    position: relative;
    top: 5px;
}


.genreQuizzes ul{
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.genreQuizzes a{
    color: #3a28a7;
    text-decoration: none;
}

.genreQuizzes a:hover{
    color: #7770ff;
}

.topRating{
    background-image: url("img/bg-leaderboard-desktop.png");
    height: 0;
    position: relative;
    overflow: hidden;
    padding-top: 278px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.leaderBoardLayout{
    flex-flow: column;
    align-items: stretch;
    flex-flow: column;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.ruleDescription__Content {
    min-height: 3.5rem;
    background-color: #f9f9f9;
    border: 1px solid #cbceda80;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875rem;
    color: #2d2442;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.ruleDescription__TextBlock {
    margin-left: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
    justify-content: center;
}
.ruleDescription__TextBlock::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: .5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.75 13.25C20.75 18.08 16.83 22 12 22C7.17 22 3.25 18.08 3.25 13.25C3.25 8.42 7.17 4.5 12 4.5C16.83 4.5 20.75 8.42 20.75 13.25Z' stroke='%232D2442' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8V13' stroke='%232D2442' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 2H15' stroke='%232D2442' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.invites li {
    display: inline-flex;
    gap: 10px;
}

.quiz-details{
    width: 640px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
}

/*.btn-quiz{*/
/*    width: 120px;*/
/*}*/

input[type=submit].submit-btn {
    font-size: 14px;
    margin: 5px;
    padding: 10px;
    width: 150px;
    align-self: center;
    border: 1px solid #fff;
    border-radius: 34px;
    color: #fff;
    background-color: #3a28a7;
}
input[type=submit].submit-btn:hover{
    background-color: #7770ff;
}

.file audio{
    width: 400px;
}

.answers{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
}

.align-center{
    text-align: center;
}

.user-quizzes{
    display: flex;
    flex-direction: column;
}

.user-quizzes h3{
    margin-bottom: 5px;
}

.profile label,
.login p{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
}

.btn-small{
    padding: 5px;
    margin-top: 10px;
    background-color: #7770ff;
    color: #fff;
    border-radius: 5px;
    width: 300px;

}
.rating-table{
    width: 800px;
    margin: auto;
}

.rating-table h2{
    text-align: center;
}
.rating-table th,
.rating-table td,
.rating-table table{
    border: 1px solid #7770ff;
}
.rating-table th{
    background-color: #7770ff;
    color: #fff;
}

.rating-table table{
    width: 100%;
    text-align: center;
}

.rating-table a,
.quiz-details a{
    color: #3a28a7;
    text-decoration: none;
}
.rating-table a:hover,
.quiz-details a:hover{
    color: #7770ff;
}